.slick__layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: #1f1f1f;
}
.slick__slides_ {
  width: 100%;
  height: 100%;
}
.slide__slide_ {
  position: relative;
  width: 100%;
  height: 100vh !important;
}
.slide__slide_::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(20, 20, 20, 0) 0%,
    rgba(20, 20, 20, 0.9) 100%
  );
}
.slide__slide__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
