.slick__layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: #1f1f1f;
}
.slick__slides_ {
  width: 100%;
  height: 100%;
}
.slide__slide_ {
  position: relative;
  width: 100%;
  height: 100vh !important;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(20, 20, 20, 0) 0%,
    rgba(20, 20, 20, 0.9) 100%
  );
}

.slide__slide__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.splide__slide__story {
  margin: 140px 0 0 150px;
  width: calc(40% + 20px);
  color: #fff;
  overflow: auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-left: 20px;
  z-index: 10;
  max-height: 464px;
}
.splide__slide__title {
    font-family: 'bebas neue';
    font-size: 83px;
    line-height: .85;
    letter-spacing: 1px;
    text-transform: uppercase;
    direction: ltr;
    margin-bottom: 30px;
}
.splide__slide__story p {
    margin-bottom: 20px;
    max-width: 450px;
    direction: ltr;
    font-size: 18.5px;
}
.splide__slide__story::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.splide__slide__story::-webkit-scrollbar-thumb {
    background-color: rgba(115, 115, 115, 1);
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    overflow: hidden;
}
.splide__slide__story::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    overflow: hidden;
}