.wr-header-content{
    position: relative;
    top: 0;
    background-image: url("../img/warranty/banner-bg-l.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 140vh;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 100vw;
}

.wr-header-title{
   padding-top: 140px;
    font-family: 'Anton';
    color: white;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 5.5em;
    line-height: 1;
}
/* ........................................................... */
.wr-body-content{
    position: relative;
    top:0;
    width: 100vw;
    height:65vh;
    background-color: #f1f1f1;
}
.wr-content-contain{
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: left;
}
.wr-content{
    width: 50%;
    height: 330px;
    margin-top: 150px;
    padding:  0px 40px;
    align-items: center;
    border-right: 1px solid #131415;
}
.wr-content:last-child{
    border:none ;
}

.wr-content h2{
    font-family: 'Anton';
    font-weight: 600;
    font-size: 35px;
    font-weight: 400;
    width: 90%;
    margin-bottom: 30px;
}
.wr-content p{
    font-family: "Average Sans";
    font-size: 20px;
    /* width: 90%; */
    letter-spacing: 0.1px;
    line-height: 1.1;
}

@media all and (max-width: 986px){
 .wr-header-content{
     background-image: url("../img/warranty/banner-bg-m.jpg");
     height: 250vh;
     font-size: 0.8rem;
 }
 /*  */
 .wr-body-content{
     width: 100%;
     height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .wr-content-contain{
     width: 70%;
    flex-direction: column;
    justify-content: flex-start;
}
.wr-content{
    width: 100%;
    height: 110px;
    margin-top: 120px;
    padding: 0;
    align-items: center;
    border: none;
    
}
 /* .wr-content h2{
     margin-top: none;
     padding: none;
    margin-bottom: 20px;
} */
}
@media all and (max-width: 700px){
    .wr-header-content{
        font-size: 0.7em;
        background-size: 70em;
        background-position: unset;
        height: 180vh;
    }
    /*  */
}


