
.wr-hd-contain{
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: relative;
    top:0;
}

.wr-hd-background img{
    width:100%;
}

/* .wr-header-content{
   position: absolute;
    background-image: url("../img/warranty/banner-bg-l.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    object-fit:fill;
    height: 100%;
    text-align: center;
    justify-content: center;
    display:flex;
    width: 100%;
} */

.wr-hd-title{
  position: absolute;
  top:21vh;
  left: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    font-family: 'Anton';
    color: white;
    letter-spacing: 0.586%;
    text-transform: uppercase;
    font-weight: 0;
    font-size: 580%;
    line-height: 0.9;
}
/* ........................................................... */
.wr-body-content{
    position: relative;
    top:0;
    width: 100vw;
    height:90vh;
    max-height: 520px;
    background-color: #f1f1f1;
}
.wr-content-contain{
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: left;
}
.wr-content{
    width: 33.33%;
    height: 70%;
    margin-top: 60px;
    padding:  0% 5%;
    align-items: center;
    border-right: 1px solid #131415;
}
.wr-content:last-child{
    border:none ;
}

.wr-content h2{
    font-family: 'Anton';
    font-weight: 600;
    font-size: 35px;
    font-weight: 400;
    width: 90%;
    margin-bottom: 30px;
}
.wr-content p{
    font-family: "Average Sans";
    font-size: 20px;
    letter-spacing: 0.1px;
    line-height: 1.1;
}
@media all and (max-width: 1200px){
    .wr-hd-title{
       top:25vh;
       font-size: 500%;
    }
}

@media all and (max-width: 984px){
    .wr-hd-title{
        top:20vh;
        left:32vw;
    }
 /*  */
 .wr-body-content{
    max-height: 200vh;
    height:150vh;
     width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
     margin-top: -12%;

}
 .wr-content-contain{
    width: 70%;
    flex-direction: column;
    justify-content: flex-start;
}
.wr-content{
    width: 100%;
    height: 250%;
    align-items: center;
    border: none;
}


}
@media all and (max-width: 784px){
    .wr-hd-contain{
        height: 220vh;
    }

    .wr-hd-background img{
        width: 110%;
        height: 100%;
    }
    .wr-hd-title{
        top:12%;
        font-size: 450%;
    }
}
@media all and (max-width: 700px){

    .wr-hd-title{
        font-size: 400%;
    }
    .wr-content-contain{
        width: 100%;
    }
    .wr-body-content{
        max-height: 170vh;
        height:130vh;  
        margin-top: 10%;  
    }
    /*  */
}

@media all and (max-width: 547px){
    .wr-hd-contain{
        height: auto;
    }
    .wr-hd-title{
        top:10%;
        left:27%;
        font-size: 350%;
    }
}


